.body {
  width: 100%;
  margin: 0 auto;
  clear: both;
  overflow-x: hidden;
}
.logo {
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 20px;
  float: left;
}
.logo-img {
  height: 61px;
}
.button {
  background-color: #d9d9d9; /* Light Blue */
  color: black;
  padding-top: 20px;
  padding-bottom: 16px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 20px;
  cursor: pointer;
  float: left;
  border: 1px solid grey;
  width: 15%;
  border-radius: 20px 10px 0px 0px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
/*.button:hover {
  background-color: #9adaea;
}*/
/* Underline Reveal */
.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.button:before {
  content: "";
  position: absolute;
  z-index: -10;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  height: 8px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.button:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  overflow: hidden;
  background-color: #4596d7;
}
.header-list {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
  float: left;
  display: inline-block;
}
.header-background {
  background-color: white;
  width: 100%;
  height: 61px;
  position: fixed;
  z-index: 5;
}
.mainheader {
  margin-left: 5.5%;
	height: 61px;
	position: fixed;
  text-align: center;
	width: 100%;
	z-index: 10;
}
.mainheader nav ul {
	list-style: none;
  margin-top: 0px;
	margin-left: 0px;
  padding-left: 0px;
  height: 100%;
  display: block;
  text-align: center;
}
.pageTitle {
	margin-top: 0;
	padding-top: 20px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page0 {
	width: 100%;
	height: 500px;
	overflow: hidden;
	/*background-color: #c6efea;*/
	background-color: #FFFFFF
}
#welcometag {
	font-size: 50px;
	color: rgba(101, 101, 101, 1);
	font-style: bold;
  text-align: center;
}
/** {box-sizing:border-box}*/
/*.mySlides {display:none}*/
#notshow1, #notshow2 {
  display: none;
}

/* Slideshow container */
.slideshow-container {
  overflow: hidden;
  margin: auto;
  height: inherit;
}
.image {
  float:left;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  margin: auto;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    width: 100%;
    min-height: 100%
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 290px;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0px 30px 30px 0px;
	background-color: rgba(0,0,0,0.4);
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 30px 0 0 30px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  /*padding: 8px 12px;*/
  /*position: absolute;*/
  /*bottom: 8px;*/
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #717171;

  display: inline-block;
  position: relative;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
	background-color: rgba(255, 255, 255, 0.8);
}
/* Fading animation */
.fade {
  width: inherit;
  height: inherit;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.welcome-video {
  height: 100%;
  -moz-transform:scale(2.6);
  -webkit-transform:scale(2.6);
  -o-transform:scale(2.6);
  -ms-transform:scale(2.6);
  transform:scale(2.6);
}
/* --------------------Welcome Section Ends------------------------- */

/* ------------------Style Sheet for Page 1------------------------*/
.page1 {
  height: 550px;
  position: relative;
  background-color: rgba(87, 149, 209, 0.42);
}
.page1-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
}
.page1-text-center {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  overflow: scroll;
  height: 300px;
}
.page1-text-left {
  padding-left: 2%;
  margin-left: auto;
  margin-right: 70%;
  width: 25%;
  position: absolute;
  top: 30%;
  transform: translate(0, -50%)
}
.page1-text-right {
  padding-right: 2%;
  margin-left: 70%;
  margin-right: auto;
  width: 25%;
  position: absolute;
  top: 30%;
  transform: translate(0, -50%)
}
/* ------------------Style Sheet for Page 2------------------------*/
.page2 {
    height: 550px;
    background-color: rgba(87, 149, 209, 0.58);
    overflow: hidden;
}
.unique-text {
	clear: both; 
	width: 40%;
	height: 275px;
	margin-left: 10%;
	word-wrap:break-word;
	overflow: auto;
	float: left;
}
.unique-text2 {
	height: 40%;
	margin-left: 60%;
	width: 30%;
	word-wrap:break-word;
	overflow: auto;
  font-size: 20px;
}
.unique-pic1 {
	float: left; 
	height: 175px;
	margin-left: 15%;
	margin-bottom: 1em;
}
.unique-pic2 {
	float: left; 
	height: 200px; 
	margin-left: 10%; 
	margin-bottom: 1em;
}
/* ------------------Style Sheet for Page 3------------------------*/
.page3 {
  height: 500px;
  background-color: rgba(87, 149, 209, 0.75);
}
.leblanc {
  margin-left: 3%;
  float: left;
  width: 15%; 
  margin-right: 1%; 
}
.page3-text {
  position: absolute;
  margin-right: 28%;
  margin-left: 20%;
}
.photo-grid {
  display: block;
  float: right;
  width: 60px;
}
.photo-grid a img {
  float: left;
  width: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.blank-grid {
  float: left;
  width: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* 2D TRANSITIONS */
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
/* ------------------Style Sheet for Page 4------------------------*/
.page4 {
  height: 500px;
  background-color: #5795d1;
}
.footer {
	text-align: center;
}

/* -------------------- CSS for Contact Form ------------------------*/



/* -------------------- Style Sheet for Reports Page ------------------------*/
.reports-body {
  overflow-x: hidden;
  margin: 0px;
}
.reportsheader {
  height: 61px;
  position: fixed;
  width:100%;
  z-index: 10;
  margin-left: 10%;
}
.reportsheader nav ul {
  list-style: none;
  margin: 0 auto;
}
.reports-video {
  width: 50%;
  margin-left: 27%;
  margin-top: 7%;
}
.profile {
  overflow: hidden;
  padding-bottom: 5%;
}
.profile-img {
  float: left;
  width: 15%;
  margin-top: 8%;
  margin-left: 20%;
}
.profile-title {
  margin-top: 8%;
  margin-left: 50%;
}
.patient-desc {
  margin-left: 45%;
  margin-right: 20%;
}
.pie-img {
  float: left;
  margin-left: 25%;
  width: 50%;
}
.seperator {
  margin-top: 40%;
}
.graph-img {
  margin-right: 24%;
  margin-left: 18%;
  width: 65%;
  margin-bottom: 5%;
}